<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
</head>
<body>
<h2>Welcome, <span th:text="${user}"></span></h2>

<form action="/send-request" method="post">
  <label for="url">URL:</label>
  <input type="text" id="url" name="url" th:value="${form?.url}" required/><br/><br/>

  <label for="method">Method:</label>
  <select name="method" id="method" >
    <option th:value="'GET'" th:selected="${form?.method == 'GET'}">GET</option>
    <option th:value="'POST'" th:selected="${form?.method == 'POST'}">POST</option>
    <option th:value="'PUT'" th:selected="${form?.method == 'PUT'}">PUT</option>
    <option th:value="'DELETE'" th:selected="${form?.method == 'DELETE'}">DELETE</option>
  </select><br/><br/>

  <label for="headers">Headers (key:value per line):</label><br/>
  <textarea name="headers" id="headers" th:text="${form?.headers}" rows="4" cols="50"></textarea><br/><br/>

  <label for="body">Body (JSON or raw):</label><br/>
  <textarea name="body" id="body" th:text="${form?.body}" rows="6" cols="50"></textarea><br/><br/>

  <button type="submit">Send Request</button>
</form>

<div th:if="${response != null}">

  <h3>Response Status: <span th:text="${statusCode}"></span></h3>
  <h3>Time Taken: <span th:text="${responseTime} + ' ms'"></span></h3>
  <h3>Response Headers:</h3>
  <pre th:text="${responseHeaders}"></pre>
  <h3>Response Body:</h3>
  <pre th:text="${response}"></pre>

</div>


<a href="/logout">Logout</a>
<a href="/history">
  <button>View History</button>
</a>

</body>
</html>
